<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public:header"/>
    <title>{$title}</title>
    <link href="__PUBLIC__/css/blog.css" rel="stylesheet">
</head>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item " href="{:U('index/index/')}">Home</a>
            <a class="blog-nav-item " href="#">Made by WeijunWang</a>
            <a class="blog-nav-item active" href="#">{$title}</a>
        </nav>
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">{$title}</h1>
        <p class="lead blog-description">This is a page to show what I get from the pdf.</p>
    </div>

    <div class="row">

        <div class="col-sm-12 blog-main">

            <div class="blog-post">
                <h2 class="blog-post-title">{$title}</h2>


                <hr>
                <volist name="list" id="vo">
                    <h2>{$key}</h2>
                 <blockquote>
                    <p>{$vo}</p>
                 </blockquote>
                </volist>
                </div><!-- /.blog-post -->




        </div><!-- /.blog-main -->


    </div><!-- /.row -->

</div><!-- /.container -->

<footer class="blog-footer">

    <p> Made by <a>WeijunWang</a> using bootstrap template </a> </p>
    <p>
        <a href="#">Back to top</a>
    </p>
    <p style="font-family:Microsoft YaHei">京ICP备16052119号</p>
</footer>
<include file="Public:footer"/>
</body>
</html>
