<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public:header"/>
    <title>DBMS HomeWork</title>
    <link href="__PUBLIC__/css/dashboard.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">DBMS HOMEWORK</a>
            <a class="navbar-brand" href="#">Made by WeijunWang</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">HOMEWORK</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">导航栏<span style="font-size: small">（暂不启用）</span> <span class="sr-only">(current)</span></a>
                </li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link0</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href=""></a></li>
                <li><a href="">this is link</a></li>
                <li><a href="">this is link</a></li>
                <li><a href="">this is link</a></li>
                <li><a href="">this is link</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">some link</a></li>
                <li><a href="">some link</a></li>
                <li><a href="">some link</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Plant</h1>
            <p>You are the
                <a id="frequency"> </a>
                visitors！You can visit my another
                <a href="{:U('Index/python')}">data page</a>
                get by python!
            </p>
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="__PUBLIC__/image/php-logo.png" width="200" height="200" class="img-responsive"
                         alt="Generic placeholder thumbnail">
                    <h4>data php get</h4>
                    <span class="text-muted"></span></span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="__PUBLIC__/image/data0.png" width="200" height="200" class="img-responsive"
                         alt="Generic placeholder thumbnail">
                    <h4>data1</h4>
                    <span class="text-muted">待定...</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="__PUBLIC__/image/data1.png" width="200" height="200" class="img-responsive"
                         alt="Generic placeholder thumbnail">
                    <h4>data2</h4>
                    <span class="text-muted">待定...</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="__PUBLIC__/image/data2.png" width="200" height="200" class="img-responsive"
                         alt="Generic placeholder thumbnail">
                    <h4>data4</h4>
                    <span class="text-muted">待定...</span>
                </div>
            </div>

            <h2 class="sub-header">plants list</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Scientific Name</th>
                        <th>Common Name</th>
                        <th>Fact Sheet</th>
                        <th>Plant Guide</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="list" id="vo">
                        <tr>
                            <td>{$vo.Symbol}</td>
                            <td>
                                <a href="{:U('index/showInfo/',array('science'=>$vo['Scientific_Name'],'type'=>'php'))}">{$vo.Scientific_Name}</a>
                            </td>
                            <td>{$vo.Common_Name}</td>
                            <td><a href="{:U('index/fact/',array('science'=>$vo['Scientific_Name'],id=>'fs'))}">{$vo.fs_pdf}</a>
                            </td>
                            <td><a href="{:U('index/fact/',array('science'=>$vo['Scientific_Name'],id=>'pg'))}">{$vo.pg_pdf}</a>
                            </td>
                        </tr>
                    </volist>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<include  file='Public:footer' />
<script>
    $(document).ready(function () {
        $.getJSON("{:U('Index/counter',array('type'=>'python'))}", function (data) {
            var id = data.id + 'th';
            $('#frequency').text(id);
        })
    });
</script>
</body>
</html>
